@tailwind base;
@tailwind components;
@tailwind utilities;

.chip-row,.chip-top-row {
    @apply justify-center select-none;
    margin-left: -15px;
    margin-right: -15px;
}

.chip-row:hover {
    @apply bg-hover-yellow border border-solid border-red-500;
}

.chip-top-row {
    @apply sticky top-0;
    background-color: gray !important;
}