@tailwind base;
@tailwind components;
@tailwind utilities;

.chip-row,.chip-top-row {
    @apply justify-center select-none flex flex-row mx-0;
}

.chip-row:hover {
    @apply bg-hover-yellow;
}

.chip-top-row {
    @apply sticky top-0;
    background-color: gray !important;
}

.chip-cell {
    background-color: inherit;
}

.chip-col-4\/10 {
    @apply w-4/10;
    flex: 0 0 40%;
}